body{
    background-image: url(Bild.jpeg);
    background-position: top;
    background-size: cover;
}
#wow{
    text-align: center;
    font-size: 3rem;
    color: rgb(50, 156, 186);
    background-color: white;
}